<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875909835246-9m5u6ohd7hnpost6rsu4ccdmvcj12s6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875909835246-9m5u6ohd7hnpost6rsu4ccdmvcj12s6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCR6bYgaYnHZJ5UmAg9-knQ59N6vl0K7JI</string>
	<key>GCM_SENDER_ID</key>
	<string>875909835246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.shuttleapp</string>
	<key>PROJECT_ID</key>
	<string>shuttle-app-a878b</string>
	<key>STORAGE_BUCKET</key>
	<string>shuttle-app-a878b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875909835246:ios:dea19bf6c4ab5cb439c6ff</string>
</dict>
</plist>